

.one{
    height: 3000px;
    width: 300px;
    background-color: rgb(80, 29, 220);
    /* background-image: url('inkedinLogo.png'); */
   background-position: left;
}

.two{
    height: 100px;
    width: 100px;
    background-color: red;
   display: vi;
}
p{
    text-transform: uppercase;
    font-weight:600;
}
